.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  margin-left: 10%;
  margin-right: 7%;

}
.grid-item {
  background-color: black;
  width: 90%;
  height: 90%;
  text-align: center;
  padding-top: 30px;
  border:

}
img {
  width:inherit;
  height: inherit;
}
.title {
  text-align: center;
  font-size: 50pt;
}
