.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 4%;
  padding-right: 8%;
  padding-top: 4%;
  padding-bottom: 10%;
  border: inset;
  border-radius: 5px;
  border-width: 80px 40px 0px 0px ;
  border-top-color: gray;
  border-right-color: gray;
  background-color: gray;
  grid-row-gap: 3%;
  grid-column-gap: 9%;
  margin-left: 10%;
  margin-right: 7%;
  margin-top:7%;
  transform: scale(.9);
  transform: translate(0px,10%);
}
img {
  width:inherit;
  height: inherit;
  transform: translate(2%,0px);
  border-radius: 50px;
  padding: 3%;
  transform: rotate();
}
body {
  /*background-image: radial-gradient(red,purple,blue);*/
  border: inset;
  border-width: 200px 200px 300px 200px ;
  border-right-color: sienna;
  border-left-color: green;
  border-bottom-color: yellow;
  border-top-color: red;
}
.grid-item1 {
  background-color:black;
  width: 90%;
  border: inset;
  border-width: 0px 0px 40px 40px;
  border-radius: 10px;
}
.grid-item2 {
  background-color:black;
  width: 90%;
  text-align: center;
  border: inset;
  border-width: 0px 0px 40px 40px;
  border-radius: 10px;
}
.grid-item3 {
  background-color:black;
  width: 90%;
  text-align: center;
  border: inset;
  border-width: 0px 0px 40px 40px;
  border-radius: 10px;
}
